.idea
.vscode

img/reqs/*
!img/reqs/_.png
!img/reqs/doc-01.jpg
!img/reqs/doc-01_1.jpg
!img/reqs/doc-01_2.jpg
!img/reqs/doc-01_3.jpg
!img/reqs/doc-02.jpg
!img/reqs/doc-02_1.jpg
!img/reqs/doc-02_2.jpg
!img/reqs/doc-02_3.jpg
!img/reqs/doc-03.jpg
!img/reqs/doc-04.jpg

img/users/*
!img/users/_.jpg
**/.DS_Store